input[type="text"] {
  width: 90%;
  height: 20px;
}

input[type="submit"] {
  height: 100%;
  width: 10%;
}
.wrapper{
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}
.chat-block{
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5px;
}
.chat-block:hover{
  background: #E7E7E7;
  cursor: pointer;
}
.logo{
  text-align: center;
  height: 20px;
  width: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 100px;
  align-self: center;
  justify-self: center;
  background: white;
}
.nickname{

}
.text{
  color: #777676;
}
.button-elements{
  margin-top: auto;
  width: 100%;
}
.chat-block-wrapper{
  box-shadow: 5px 10px 8px #888888;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-view{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.message{
  background-color: #E7E7E7;
  padding-left: 10px;
  display: flex;
  flex-direction: column;

}
.message-text{
  width: 100%;
}


